{
  "name": "{{MARKETPLACE_NAME}}",
  "version": "0.1.0",
  "owner": {
    "name": "{{OWNER_NAME}}",
    "url": "{{OWNER_URL}}"
  },
  "plugins": [
    {
      "name": "{{PLUGIN_NAME}}",
      "description": "{{PLUGIN_DESCRIPTION}}",
      "source": "./plugins/{{PLUGIN_NAME}}/"
    }
  ]
}
